header {
    height: 150px;
    background: none;
    margin: 0px auto;
}

ul {
    list-style-type: none;
    margin: 0, 40px;
    padding: 30;
    overflow: hidden;
    background-color: #000
}

li  {
    float:left;
}

li a{
    display: block;
    color: white;
    text-align: center;
    padding: 20px 20px;
    text-decoration: none;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 20px;
}
li a:hover {
    color: lightpink;
}

li a:active{
    background-color: white;
}
    
h1{
    color: black;
    font-family:  Georgia, serif;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}
p{
    line-height: normal;
    text-transform: uppercase;
    text-align: right;
    }

h2 a{ 
    color: lightpink;
    font-family: Georgia, serif;
    font-size: 25px;
    font-weight: bold;
    text-decoration: none;
    text-align: left;
    }
h2 a:hover{
    color:deeppink;
}

h2 a:active{
    color:darkturquoise;
} 
hr{
  border-width: thick;
}

figure{
  border-style: double;
  border-color:aliceblue;
      
    }    
    
figcaption{
    color: black;
    font-family: Georgia, serif;
    font-size: 15px;
    vertical-align: text-bottom;
    text-indent: 20px;
    text-shadow: 1px 1px 0px #000000;
    }
footer p{
      text-align: center;
    }
